html, body {
    margin: 0;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

main {
    text-align: center;
    height: 640px;

}

.btn-modal {
    cursor: pointer;
    box-sizing: border-box;
    margin: 50px;
    border: none;
    color: green;
    background: brown;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 2em;
    &:hover {
        background-color: green;
        border: none;
        color: black;
    }
    &:focus {
        outline: none;
    }
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 600px;
    outline: 1px solid red;
    &.modal-bg {
        background: rgba(0,0,0,0.5);
    } 
    .handler-interface {
        position: relative;
        z-index: 4;
        color: white;
        font-size: 1.2em;
        text-align: center;
        &.hidden {
            display: none;
        }
        div {
            width: 400px; 
            display: flex;
            flex-direction: column;
            margin: auto;
        }
    }
    .content-box {
        width: 400px;
        height: 300px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 6px;   
        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 6px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: #000000;
        }
        &.text-blur {
            filter: blur(4px);
        }
        >p { 
            font-size: 1em;
            margin: 0;
            position: absolute;
            width: 400px;
            height: fit-content;   
        } 
        .blur {
            filter: blur(4px);
            background-color: rgba(0,0,0,0.5);
        }
        
        .modal-window {
            width: 400px;
            height: 300px;    
            // background-color: rgba(0,0,0,0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 3;
            &.hidden {
                display: none;
            }
            .modal-content {
                filter: blur(0);
                color: white;
                font-size: 3em;
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .user-initials-area {
        display: flex;
        justify-content: center;
        .initials {
            text-align: start;
            &.blur {
                filter: blur(4px);    
            }
            &.not-edited>p>span {
                color: grey;
            }
            span {
                float: right;
                width: 200px;
                margin-left: 10px;
                text-align: start;
                &.blur {
                    filter: blur(4px);
                }
            }
        }
        .user-avatar {
            width: 100px;
            height: 116px;
            display: flex;
            align-items: center;
            img {
                width: 100%;
                border-radius: 50%;
                &.blur {
                    filter: blur(4px);
                }
            }
        }
    }
    .blur-button {
        filter: blur(4px);
    }
}